/* These are only the unchanged variables, the rest are set by the script depending on if it's dark or light mode */
:root {
    --main-font: "Ubuntu", sans-serif;
    --focus-color: rgb(254, 64, 96);
    --btn-color: rgb(254, 64, 96);
    --main-border-values: solid .5px;
    --main-border-color: rgb(127, 127, 127);
}

/* Some default values. */
* {
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* These selectors are for easily removing elements from the display by just changing the elements' classes. */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hide {
    display: none;
}

.hidden {
    opacity: 0%;
    transition: 200ms;
}

.pointer {
    cursor: pointer;
}

.main-color {
    color: var(--main-font-color);
}

body {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--body-bg);
    width: 100%;
    min-height: 100vh;
}

.full-header {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.disclaimer {
    background-color: black;
    color: white;
    font-weight: 100;
    font-size: .9rem;
    width: 100%;
    text-align: center;
    word-spacing: .2vw;
    padding: .3vh 0;
}

.repo a {
    color: white;
    font-weight: 500;
}

.repo:hover {
    text-decoration: underline;
}

.main-header {
    justify-content: end;
    align-items: center;
    padding: 3vh 3vw 5vh;
    height: calc(40px + 8vh);
    width: 100%;
    box-sizing: border-box;
    border-bottom: var(--main-border-values) var(--main-border-color);
}

.brand {
    flex-direction: row;
    align-items: center;
    transition: 1s;
}

#logo {
    font-size: 2.5rem;
    margin-right: .5vw;
    color: var(--highlight-font-color);
}

.brand h1 {
    font-size: 2rem;
    font-weight: 200;
}

.brand h1 span {
    font-weight: 500;
    color: var(--highlight-font-color);
}

#mode-btn {
    flex-direction: row;
    align-items: center;
    height: fit-content;
    margin-right: 2vw;
    margin-left: auto;
    border: none;
    border-radius: .5vh;
    background: none;
    padding: .5vh .6vw;
}

.mode-text {
    font-size: 1.1rem;
    font-weight: 200;
    padding-right: 1vw;
    color: var(--main-font-color);
}

.fa-lightbulb {
    font-size: 1.5rem;
    margin: 0;
    color: var(--highlight-font-color);
}

#mode-btn:hover {
    background-color: var(--hover-btn-bg);
    transition: 200ms;
}

#mode-btn:hover .mode-text {
    opacity: 100%;
}

.btn {
    border: none;
    padding: 1vh 5vw;
    font-size: 1.2rem;
    border-radius: 5vh;
    font-weight: 500;
    margin-top: 2vh;
    text-wrap: nowrap;
    text-align: center;
}

.main-footer {
    justify-content: center;
    font-weight: 200;
    padding: 3vh 0 5vh;
    font-family: var(--infoFont);
    font-size: 1.2rem;
    color: var(--main-font-color);
    border-top: var(--main-border-values) var(--main-border-color);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.main-footer a {
    color: var(--main-font-color);
    font-weight: 600;
}

.main-footer a:hover {
    color: var(--highlight-font-color);
}